.sign-up {
	display: flex;
	flex-direction: column;
	width: 360px;
	h2 {
		text-align: center;
		letter-spacing: 0.5px;
		margin: 10px 0 0;
	}
	@media (min-width: 668px) {
		width: 450px;
	}

	&-heading {
		span {
			display: block;
			margin-top: 12px;
		}
	}
	&-btn-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 25px;
		span {
			color: blue;
			cursor: pointer;
		}
	}
}
