.category-preview-container {
	display: flex;
	flex-direction: column;

	margin-bottom: 50px;
	h2 {
		margin-bottom: 30px;
		text-align: center;
	}
	.title {
		font-size: 28px;

		cursor: pointer;
		color: blue;
	}

	.preview {
		display: grid;
		place-content: center;
		gap: 20px;
		//grid-template-columns: repeat(4, 1fr);
		grid-template-columns: repeat(auto-fill, minmax(260px, 300px));
	}
}
