.payment-form-container {
	padding: 15px;
	margin-top: 25px;
	border: 1px solid silver;
	h2 {
		text-align: center;
	}

	.card-info {
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

.form-container {
	height: 150px;
	width: 350px;
}
